*
!/.gitignore
!/.github
!/.github/**
!/CMakeLists.txt
!/README.md
!/LICENSE
!/COPYING
!/build.bat
!/build.sh
!/Falcon.Network
!/Falcon.Network/**
!/Falcon.Protocol
!/Falcon.Protocol/**
!/Falcon.Server
!/Falcon.Server/**
